#CookielawBanner {
    background: none repeat scroll 0 0 rgba(17, 17, 17, 0.95);
    position: fixed;
    bottom: 0%;
    width: 100%;
    border-top: 2px solid grey;
    padding: 10px 20px 6px;
    text-align: center;
}

#CookielawBanner .container {
    position: relative;
}

#CookielawBanner p{
    color: #eeeeee;
}

#CookielawBanner a{
    font-weight: bold;
    color: rgb(255,182,21);
    text-decoration: none;
}

#CookielawBanner #CookielawCross {
    background: url('../img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}

.btn{

}